
html,
body {
  position: relative;
  height: 90%;
  width: 100%;
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.navbar{
    transition: all 0.7s;
    height: 70px;
}
.navbar-scrolled{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0 , 0, 0, 0.15);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lista ul
{
padding-right: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-top: 0px;
margin: 0px;
margin-top: 5px;
}
.lista li
{
list-style-type: none;
display: inline;
padding-right: 5px;
}

.textover {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  .centered1 {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }


.card:hover{
    background-color: #70C0F4;
    color: white;
    
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  transition: all 0.7s;
}

.swiper-slide{
  margin: 0;
  padding: 0;
}

#footer {
  padding: 30px;
  clear: both;
  text-align: center;
  line-height: 200%;
  border-top: 1px solid #ddd;
  background: #70C0F4;
  font-size: large;
  
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-shadow: 4px 4px 4px rgb(29, 24, 25);
}


hr {
  height: 10px;
  width: 25vh;
  margin: auto;
  background-color: #60a2e8;
}
.modalh1{

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.hide-element {
  display: none !important;
}

.show-element {
  display: block !important; /* o el estilo que necesites */
}

.us{
  font-size: xx-large;
}
.us1{
  font-size: larger;
}